*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#050816;
    overflow:hidden;
}

/* Aura Ring */

body::before{
    content:"";
    position:absolute;
    width:700px;
    height:700px;
    border:8px solid rgba(0,255,255,.15);
    border-radius:50%;
    animation:rotate 12s linear infinite;
}

body::after{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    border:5px dashed rgba(255,0,255,.2);
    border-radius:50%;
    animation:rotateReverse 8s linear infinite;
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes rotateReverse{
    from{
        transform:rotate(360deg);
    }
    to{
        transform:rotate(0deg);
    }
}

/* Card */

.container{
    position:relative;
    z-index:10;
}

form{
    width:430px;
    padding:40px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(25px);
    border-radius:30px;
    border:2px solid rgba(255,255,255,.15);
    box-shadow:0 0 40px rgba(0,255,255,.3);
    animation:floating 5s ease-in-out infinite;
    transition:.5s;
}

@keyframes floating{

0%,100%{
transform:translateY(0) rotateX(0deg);
}

50%{
transform:translateY(-15px) rotateX(6deg);
}

}

form:hover{
    transform:perspective(1000px) rotateY(8deg) rotateX(8deg);
}

h1{
    text-align:center;
    color:#fff;
    margin-bottom:30px;
    font-size:32px;
    text-shadow:0 0 20px cyan;
}

label{
    display:block;
    color:white;
    margin-bottom:10px;
    font-size:18px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    outline:none;
    background:rgba(255,255,255,.08);
    color:white;
    font-size:17px;
    transition:.4s;
}

input:focus{
    transform:scale(1.05);
    box-shadow:0 0 20px cyan;
}

button{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:15px;
    background:linear-gradient(90deg,#00eaff,#7c3aed,#ff0080);
    background-size:300%;
    color:white;
    font-size:18px;
    cursor:pointer;
    animation:gradient 4s linear infinite;
    transition:.4s;
}

@keyframes gradient{
    100%{
        background-position:300%;
    }
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px cyan;
}

#result{
    margin-top:25px;
    padding:15px;
    border-radius:15px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    color:#00ff99;
    background:rgba(255,255,255,.06);
    animation:glow 1.2s infinite alternate;
}

@keyframes glow{

from{
    box-shadow:0 0 10px #00ff99;
    text-shadow:0 0 10px #00ff99;
}

to{
    box-shadow:0 0 30px #00ff99;
    text-shadow:0 0 25px #00ff99;
}

}